* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #85FEA1;
  --dark: #023B1F;
  /* --light: rgb(97, 255, 97);
  --dark: rgb(49, 126, 49); */
}

@font-face {
  font-family: Eregular;
  src: url(/public/EuclidFlexRegular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Elight;
  src: url(/public/EuclidFlexLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: Ebold;
  src: url(/public/EuclidFlexSemiBold.ttf);
  font-display: swap;
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Eregular;
  background-image: linear-gradient(to bottom right, var(--light), var(--dark));
  height: 100vh;
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark);
  transition: all ease .4s;
}

.p a {
  font-weight: bold;
}

.navs a:hover,
.p a:hover {
  border-bottom: 1px solid var(--dark);
}

.hnavs a:hover {
  transform: scale(1.1);
}

.link {
  color: var(--light);
  border-bottom: 1.5px solid var(--dark);
}

.hlink {
  color: var(--light);
}

.noshow {
  opacity: 0;
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.disable {
  opacity: .2;
}

.hover:hover {
  color: var(--light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

 ::placeholder {
  font-family: Elight;
  color: var(--dark);
  opacity: .4;
}